.cardContentEditPost {
  margin-top: 60px;
  box-shadow: 5px 5px 10px #DDD;
  padding: 15px 25px;
  width: 600px;
}

.editPostAuthor {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px
}

.editPostBody {
  border: 1px solid #DDD;
  width: 100%;
  min-height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* box-shadow: 0px 10px 10px #DDD; */
  padding: 10px;
  margin-bottom: 15px;
}

.editPostField {
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
}

.postTitle {
  width: 100%
}