.cardContentNewPost {
  margin-top: 15px;
  box-shadow: 5px 5px 10px #DDD;
  padding: 15px 25px;
  width: 600px;
}

.inputTitle {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 10px;
}

.inputContent {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 10px;
}

.buttonCreatePost {
  width: 100%
}